@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

head,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/assets/images/pexels-stephan-seeber.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
